h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 0.66667rem;
  padding-top: 0.66667rem;
  text-align: center;
  font-size: 360%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 0.66667rem;
  font-weight: normal;
  margin: 0.66667rem 0 0.33333rem;
  text-align: center;
  font-size: 150%;
}

nav {
  width: 100%;
  display: block;
  margin-right: 40px;
  margin-top: 30px;
}

nav ul {
  display: block;
  list-style:none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}


nav ul li{
  display: inline-block;
}

nav ul li a {
  font-family: Roboto-Regular;
  color: #404040;
  text-decoration: none;
  padding: 14px 15px;
  float: right;
  display: inline-block;
}
