h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 0.66667rem;
  padding-top: 0.66667rem;
  text-align: center;
  font-size: 360%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 0.66667rem;
  font-weight: normal;
  margin: 0.66667rem 0 0.33333rem;
  text-align: center;
  font-size: 150%;
}
.wrapper {
    max-width: 970px;
    margin: 0 auto;
}

.header {
    z-index: 1;
    font-weight: 500;
    line-height: 1.6rem;
    margin:0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    overflow: auto;
}

.header a {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease
}

.header .logo {
    float: left
}

.header .nav {
    float: right
}

.header .nav li {
    list-style: none;
    margin-left: 1em;
}

.header .nav a {
    color: #83869F;
    display: block;
    position: relative;
    font-family: "Roboto-Regular", sans-serif;
}

.header .nav a:hover,.header .nav a.active {
    color: #40445E;
}

.header .nav a.active:after {
    content: '';
    background: #FF5A5A;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

a {
    color: inherit;
    text-decoration: none;
}
