h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 0.66667rem;
  text-align: center;
  font-size: 360%;
  color: #40445E;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 0.66667rem;
  font-weight: normal;
  margin: 0.66667rem 0 0.33333rem;
  text-align: center;
  font-size: 150%;
  color: #40445E;
}

h5 {
  font-family: "Roboto-Light", serif;
  color: #83869F;
  font-size: 13px;
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.introWrapper {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}


.wrapper {
    max-width: 65%;
    margin: 0 auto;
}

.header {
    z-index: 1;
    font-weight: 500;
    line-height: 1.6rem;
    margin:0;
    /*box-shadow: 0 1px 0 rgba(0,0,0,0.1);*/
    width: 100%;
    overflow: auto;
    background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(241,241,241,1) 30%, rgba(234,234,234,0.88) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(30%,rgba(241,241,241,1)), color-stop(100%,rgba(234,234,234,0.88))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,241,241,1) 30%,rgba(234,234,234,0.88) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,241,241,1) 30%,rgba(234,234,234,0.88) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(241,241,241,1) 30%,rgba(234,234,234,0.88) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(241,241,241,1) 30%,rgba(234,234,234,0.88) 100%); /* W3C */
}

.header a {
  /*  -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease; */
}

.header a:visited {
    color: #83869F;
}

.header .logo {
    float: left
}

.header .nav {
    float: right
}

.header .nav li {
    list-style: none;
    margin-left: 1em;
}

.header .nav a {
    transform: translate(0);
    color: #83869F;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "Roboto-Regular", sans-serif;
}

.header .nav a:visited {
    color: #83869F;
}

.header .nav a:hover,.header .nav a.active {
    color: #40445E;
}

.header .nav a.active:after {
    color#83869F;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
}

.footer {
    bottom: 0px;
    box-sizing: border-box;
    font-size: 90%;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    font-family: "Roboto-Light", serif;
}

.footer .copyright{
    float: left;
}
.footer .links{
    float: left;
}

.contentWrapper{
  text-align: center;
}

.projectgrid {
	display: block;
	margin: 0;
	min-height:200px;
  padding-right: 40px;
  text-align: center;
}

.projectgrid li {
	display: inline-block;
	margin: 0px;
	width: 280px;
	height: 280px;
	margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.projectgrid a {
	background-size:100%;
	width: 280px;
	height: 100%;
	display: block;
	position:relative;
	overflow:hidden;
	text-decoration:none;
}

.desc {
    padding: 15px;
    text-align: center;
}

.projectgrid a div:before {
	content:"";
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	bottom:10px;
	right:10px;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
	z-index:100;
}

.projectgrid a h3{
	font-size:18px;
  font-family: "Roboto-Regular", serif;
}

.projectgrid a p{
	font-size: 13px;
  font-family: "Roboto-Regular", serif;
}

.projectgrid a div{
	color:#fff;
	background:rgba(45,45,45,.97);
	position:absolute;
	bottom:0;
	width:90%;
	padding:5%;
	line-height:24px;

	/* Fade In and Out */
	opacity: 0;
   	transition: opacity .35s ease-in-out;
   	-moz-transition: opacity .35s ease-in-out;
   	-webkit-transition: opacity .35s ease-in-out;

	/* Slide up from bottom */
	opacity: 0;
    bottom: -100px;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}

.projectgrid a:hover div{
	opacity: 0.8;
	bottom: 0;
}

/* Show thumbnail descriptions all the time for touch devices */
html.touch .projectgrid a div{
	opacity: 0.8;
	bottom: 0;
}
/* Show thumbnail descriptions all the time for touch devices */
html.touch .projectgrid a div:before{
	display:none;
}
